credit_card_prediction/hh.ipynb
Medical_Insurance_Cost_Prediction/insurance.csv
Big_Mart_Sales_Prediction/Train.csv
Customer_Segmentation/Mall_Customers.csv
Parkinson_Disease_Detection/Parkinsson disease.csv
Titanic_Survival_Prediction/train.csv
Calories_Burnt_Prediction/calories.csv
Calories_Burnt_Prediction/exercise.csv
Spam_Mail_Prediction/mail_data.csv
Movie_Recommendation_System/movies.csv
Breast_Cancer_Classification/data.csv
Big_Mart_Sales_Prediction/Train.csv
